<nav>
    <a href="/"><img src="../www/assets/images/Snkers.svg" alt="SNKERS" height="87px" width="100px"/></a>
    <ul>
        <li><a href="/shop">Shop</a></li>
        <li><a href="/marketplace">Market Place</a></li>
        {% if( app.user ) %}
            <div>
                <a href="/login"><button style="cursor: pointer">{{app.user.username}}</button></a>
                <a href="/logout"><button style="cursor: pointer">LOGOUT</button></a>
            </div>
        {% else %}
            <div>
                <a href="/login"><button style="cursor: pointer">LOGIN</button></a>
            </div>
        {% endif %}

        {% if(is_granted('ROLE_ADMIN')) %}
            <div>
                <a href="{{ path('back_default') }}">ADMIN DASHBOARD</a>
            </div>
        {% endif %}

    </ul>
</nav>


<style>
    nav{
        box-sizing: border-box;
        width: 100%;
        height: 100px;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 20%;
        align-items: center;
        border-bottom: 1px solid black;
    }

    nav > ul{
        display: flex;
    }

    nav > ul > li{
        list-style-type: none;
        margin-right: 20px;
    }

    nav > ul > li:hover{
        border-bottom: 3px solid black;
    }

    nav a{
        color: black;
        text-decoration: none;
    }

</style>
