{% extends 'base_back.html.twig' %}

{% block title %}Edit material{% endblock %}

{% block body %}
    <h1>Edit Material</h1>

    {{ include('back/material/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('material_index') }}">back to list</a>

    {{ include('back/material/_delete_form.html.twig') }}
{% endblock %}
