<!DOCTYPE html>

<title>New Material</title>

{% block body %}
    <h1>Create new Material</h1>

    {{ include('back/material/_form.html.twig') }}

    <a href="{{ path('material_index') }}">back to list</a>
{% endblock %}
