{% extends 'base_front.html.twig' %}

{% block title %}Brand list{% endblock %}

{% block body %}
    <div class="container brands-page">
        {% for brand in brands %}
            <a href="{{ path('front_brand_show', {'id': brand.id}) }}">
                <td>{{ brand.name }}</td>
            </a>
            <br/>
        {% endfor %}
    </div>
{% endblock %}
