{% extends 'base_back.html.twig' %}

{% block title %}SNKER - Your DashBoard {% endblock %}

{% block body %}

    <div class="container account">
        <h1>Your Dashboard</h1>

        <div class='account_items'>
            <a href="{{ path('admin_user_dashboard') }}" class='account_item'>
                <h3>User interface</h3>
                <p>User Panel</p>
            </a>
            <a href="{{ path('admin_sneaker_dashboard') }}" class='account_item'>
                <h3>Sneakers interface</h3>
                <p>Sneakers panel</p>
            </a>
            <a href="{{ path('admin_marketplace_index') }}" class='account_item'>
                <h3>Marketplace</h3>
                <p>Manage the marketplace</p>
            </a>
        </div>
    </div>

    <style>

        .account{
        }

        .account > h1{
            margin-bottom: 20px;
        }

        .account a{
            text-decoration: none;
            color: black;
        }

        .account_items{
            display: flex;
            flex-direction: row;
            /*justify-content: space-between;*/
            flex-wrap: wrap;
            width: 100%;
        }

        .account_item{
            width: calc(100%/3.1);
            margin-bottom: 15px;
            border: 1px solid gray;
            padding: 30px;
            border-radius: 10px;
            margin-right: 5px;
            cursor: pointer;
            transition: 0.5s;
        }

        .account_item:hover{
            background-color: #f0f0f0;
        }
    </style>

{% endblock %}