{% extends 'base_front.html.twig' %}

{% block title %}Category {{category.name }}{% endblock %}

{% block body %}
    <h1>{{ category.name }}</h1>
    <p>{{ category.description }}</p>
{% endblock %}
