<!DOCTYPE html>

<title>Edit SneakerModel</title>

{% block body %}
    <h1>Edit SneakerModel</h1>

    {{ include('sneaker_model/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_sneaker_model_index') }}">back to list</a>

    {{ include('sneaker_model/_delete_form.html.twig') }}
{% endblock %}
