<!DOCTYPE html>

<title>New SneakerModel</title>

{% block body %}
    <h1>Create new SneakerModel</h1>

    {{ include('sneaker_model/_form.html.twig') }}

    <a href="{{ path('app_sneaker_model_index') }}">back to list</a>
{% endblock %}
