/*#admin_edit_sneaker{
    border: 1px solid red;
    #sneaker_images{
        display: flex;
        border: 1px solid red;
        width: 100%;
        gap: 5px;
        
        fieldset{
            border: 1px solid gray;
        }
    }
}*/