<!DOCTYPE html>

<title>New User</title>

{% block body %}
    <h1>Create new User</h1>

    {{ include('back/admin_user/_form.html.twig') }}

    <a href="{{ path('admin_user_index') }}">back to list</a>
{% endblock %}
