{% extends 'base_front.html.twig' %}

{% block title %}SNKER - Become seller {% endblock %}

{% block body %}

<div class="account">
    <h1>Your account</h1>

   
</div>

<style>

</style>

{% endblock %}