#navigation{
    width: 100%;
    height: 80px;
    //border-bottom: 1px solid gray;
    background: #FFFFFF;
    box-shadow: 0px 11px 15px -10px rgba(0, 0, 0, 0.25);

    @include sm{
        height: 120px;
    }

    @include md{
        height: 120px;
    }

    div{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // padding: 10px 20px;

        @include sm{
            padding: 0 !important;
        }

        @include md{
            padding: 0 !important;
        }
    
        .logo_container{
            width: 150px;
            transition: 0.5s;

            &:hover{
                opacity: 0.7;
            }

            img{
                object-fit: contain;
                height: 100%;
                width: 100%;
            }
        }
    
        .tabs{
            width: fit-content;
            //margin-left: auto;
            height: fit-content;
            display: flex;
            align-items: center;
            gap: 50px;
            margin: 0;
            padding: 0;

            @include sm{
                gap: 20px;
            }
    
            @include md{
                gap: 20px;
            }

            li{
                height: fit-content;
                width: fit-content;
                margin: 0 !important;
                padding: 0 !important;
                border-bottom: 3px solid transparent;
                transition: 0.5s;
                

                a{
                    @include sm{
                        font-size: 20px !important;
                    }

                    @include md{
                        font-size: 20px !important;
                    }
                }
                
                &:hover{
                    border-bottom: 3px solid gray;
                }

                &.profile-div{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    border-bottom: 3px solid transparent;
                    
                    .profile{

                        @include sm{
                            display: none !important;
                        }
    
                        @include md{
                            display: none !important;
                        }

                    }
                    

                    &:hover{
                        border-bottom: 3px solid transparent;
                    }

                    .profile{
                        display: flex;
                        align-items: center;
                    }
                }

                &.auth-div{
                    display: flex;
                    align-items: center;
                    border-bottom: 3px solid transparent;
                    &:hover{
                        border-bottom: 3px solid transparent;
                    }

                    .profile{
                        display: flex;
                        align-items: center;
                    }
                }

            }
        }
    }
    

}