.sneakers_items{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 100%;


    .sneaker_item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: calc(100%/5);
        padding: 10px 10px;
        border: 1px solid gray;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.5s;

        &:hover{
            background-color: rgb(223, 223, 223);
        }

        .sneaker_data{
            display: flex;
            flex-direction: column;
        }

        .source{
            font-style: italic;
        }

    }
    
}
