<form method="post" action="{{ path('back_sneaker_model_delete', {'id': sneaker_model.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sneaker_model.id) }}">
    <button class="btn">Delete</button>
</form>
