<footer>
    <div class="container">
        <p>©2022 Snkers. All Rights Reserved.</p>
    </div>
</footer>

<style>
    footer{
        background-color: black;
        color: white;
        margin: 0;
        margin-top: 30px;
    }

    footer .container{
        padding: 30px 60px;
    }

    footer .container p{
        margin: 0;
        padding: 0;
    }
</style>