<footer id="footer">
    <div class="container">
        <div class="logo_container">
            <img src="{{asset('images/logo.png')}}" alt="SNKERS logo"/>
        </div>
        <p>©2022 Snkers. All Rights Reserved.</p>
    </div>
</footer>

<style>
    footer{
        background-color: black;
        color: white;
        margin: 0;
        margin-top: 60px;
    }

    footer .container{
        padding: 30px 60px;
    }

    footer .container p{
        margin: 0;
        padding: 0;
    }
</style>