{% extends 'base_front.html.twig' %}

{% block title %}SNKER - Your profile {% endblock %}

{% block body %}

<div class="account container">
    <h1>Your sneakers</h1>

    <div class="account_profile">
        <h2>ALL</h2>
        <div class="sneakers_items">    
            {% for sneaker in sneakers %}
                {{ include('@front/components/sneaker_card/sneaker_item_edit.html.twig') }}
            {% else %}
                <p>No sneakers found </p>
            {% endfor %}
        </div>

        <h2>SOLD</h2>
        <div class="sneakers_items">
            {% for sneaker in sales %}
                {{ include('@front/components/sneaker_card/sneaker_item_edit.html.twig') }}
            {% else %}
                <p>No sneakers found </p>
            {% endfor %}
        </div>
    </div>
    
</div>

<style>

    .account{
    }

    .account > h1{
        margin-bottom: 20px;
    }

    .account a{
        text-decoration: none;
        color: black;
    }

    .account_profile{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .left{
        width: 70%;
    }

    .right{
        width: 30%;
        background-color: red;
        height: 100vh;
    }
</style>

{% endblock %}